<a href="https://colab.research.google.com/github/MolkaHaddar/Machine-Learning/blob/main/Data_wrangling_seance4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) importation de la bibliothèque Pandas

In [1]:
import pandas as pd

2) importer le fichier "College_Data.csv" et afficher les 5 premières lignes

In [2]:
from google.colab import files
uploaded = files.upload()
import io
df = pd.read_csv(io.BytesIO(uploaded['college_data.csv']))
print(df)

Saving college_data.csv to college_data.csv
                               Name private   apps  accept  enroll  full_time  \
0      Abilene Christian University     Yes   1660    1232     721       2885
1                Adelphi University     Yes   2186    1924     512       2683
2                    Adrian College     Yes   1428    1097     336       1036
3               Agnes Scott College     Yes    417     349     137        510
4         Alaska Pacific University     Yes    193     146      55        249
..                              ...     ...    ...     ...     ...        ...
775         Worcester State College      No   2197    1515     543       3089
776               Xavier University     Yes   1959    1805     695       2849
777  Xavier University of Louisiana     Yes   2097    1915     695       2793
778                 Yale University     Yes  10705    2453    1317       5217
779    York College of Pennsylvania     Yes   2989    1855     691       2988

     part_time  outstate  room_board  books  personal  prof_phd  \
0          537      7440        3300    450      2200        70
1         1227     12280        6450    750      1500        29
2           99     11250        3750    400      1165        53
3           63     12960        5450    450       875        92
4          869      7560        4120    800      1500        76
..         ...       ...         ...    ...       ...       ...
775       2029      6797        3900    500      1200        60
776       1107     11520        4960    600      1250        73
777        166      6900        4200    617       781        67
778         83     19840        6510    630      2115        96
779       1726      4990        3560    500      1250        75

     prof_terminal  std_by_prof  perc_alumni  grad_rate
0               78         18.1           12         60
1               30         12.2           16         56
2               66         12.9           30         54
3               97          7.7           37         59
4               72         11.9            2         15
..             ...          ...          ...        ...
775             60         21.0           14         40
776             75         13.3           31         83
777             75         14.4           20         49
778             96          5.8           49         99
779             75         18.1           28         99

[780 rows x 16 columns]

In [7]:
df.head(5)

,Name,private,apps,accept,enroll,full_time,part_time,outstate,room_board,books,personal,prof_phd,prof_terminal,std_by_prof,perc_alumni,grad_rate
0,Abilene Christian University,Yes,1660,1232,721,2885,537,7440,3300,450,2200,70,78,18.1,12,60
1,Adelphi University,Yes,2186,1924,512,2683,1227,12280,6450,750,1500,29,30,12.2,16,56
2,Adrian College,Yes,1428,1097,336,1036,99,11250,3750,400,1165,53,66,12.9,30,54
3,Agnes Scott College,Yes,417,349,137,510,63,12960,5450,450,875,92,97,7.7,37,59
4,Alaska Pacific University,Yes,193,146,55,249,869,7560,4120,800,1500,76,72,11.9,2,15

3) Vérifier l'existence de valeurs nulls

In [13]:
df.isna().sum()

Name             0
private          0
apps             0
accept           0
enroll           0
full_time        0
part_time        0
outstate         0
room_board       0
books            0
personal         0
prof_phd         0
prof_terminal    0
std_by_prof      0
perc_alumni      0
grad_rate        0
dtype: int64

4) Vérifier l'existence de doublons (des observations dupliquées)

In [9]:
df.shape

(780, 16)

In [11]:
df.drop_duplicates(inplace=True)
df.shape

(777, 16)

5) Afficher dans un nouvel dataframe (df1), le nombre d'universités privées et publiques ainsi que le nombre d'étudiants inscrits dans chaque type d'université.

In [36]:
df1=pd.DataFrame()
df1["count"]=df.groupby(df.private).private.count()
df1["enroll"]=df.groupby(df.private).enroll.sum()

df1
#df1=pd.concat([df11,df12],axis=1)

         count  enroll
private
No         212  347865
Yes        565  258174

         count  enroll
private
No         212  347865
Yes        565  258174

6) Afficher pour dans un nouvel Dataframe (df2), le nom et le taux d'acceptation le moins élevé pour chaque type d'université

                           Name       rate
private
No       University of Virginia  33.970598
Yes        Princeton University  15.448631

In [49]:
df21=pd.DataFrame()
df21["name"]=df.Name
df21["rate"]=df.accept/df.apps*100
df21["private"]=df.private
df22=df21.groupby(df21.private).rate.min()
df2=df21.merge(df22)
df2=df2.groupby(df2.private).first()
df2

                           name       rate
private
No       University of Virginia  33.970598
Yes        Princeton University  15.448631

7) Afficher dans un nouvel Dataframe (df3), le nom et le montant d'inscription le plus élevé pour chaque type d'université.

* montant inscription = room_board + books + personal

                                      Name  total
private
No       University of Illinois at Chicago   8946
Yes                 Saint Louis University  12330

In [51]:
df31=pd.DataFrame()
df31["name"]=df.Name
df31["totale"]=df.room_board+df.books+df.personal
df31["private"]=df.private
df33=df31.groupby(df31.private).totale.max()
df3=df31.merge(df33)
df3=df3.groupby(df3.private).first()
df3

                                      name  totale
private
No       University of Illinois at Chicago    8946
Yes                 Saint Louis University   12330

8) Afficher dans un nouvel DataFrame (df4), pour chaque type d'université, le nom et les nombre le moins élevé des enseignants titulaires d'un diplome de doctorat (prof_phd) et ceux titulaire d'un diplome de master (prof_terminal)

                                     prof_terminal  prof_phd
private Name
No      West Liberty State College            33.0      33.0
Yes     Center for Creative Studies            NaN       8.0
        MidAmerica Nazarene College           33.0      33.0
        Salem-Teikyo University               24.0       NaN

In [73]:
df41=df.filter(["Name","private","prof_phd"])
df42=df41.groupby(df41.private).prof_phd.min()
df45=df41.merge(df42,on='prof_phd').groupby('private').first()

df44=df.filter(["Name","private","prof_terminal"])
df43=df44.groupby(df44.private).prof_terminal.min()
df46=df44.merge(df43,on='prof_terminal').groupby('private').first()

df4 = pd.concat([df46,df45],axis=0).groupby(['private','Name']).first()
df4

                                     prof_terminal  prof_phd
private Name
No      West Liberty State College            33.0      33.0
Yes     Center for Creative Studies            NaN       8.0
        MidAmerica Nazarene College           33.0       NaN

9) Afficher dans un nouvel DataFrame(df5), pour chaque type d'université, le nom et le taux etudiant/prof (std_by_prof) le plus elevé

                                Name  std_by_prof
private
No                Mesa State College         28.8
Yes      Indiana Wesleyan University         39.8

In [70]:
df51= df.filter(['private','Name','std_by_prof'])
df52=df51.groupby(df51.private).std_by_prof.max()
df5=df51.merge(df52)
df5=df5.groupby(df5.private).first()
df5

                                Name  std_by_prof
private
No                Mesa State College         28.8
Yes      Indiana Wesleyan University         39.8

10) Afficher dans un nouvel Dataframe(df6), pour chaque type d'université, les noms et les taux de réussite (Name, grad_rate) des 3 universités qui ont le taux de réussite le moins élevé

                                       grad_rate
private Name
No      Fayetteville State University         24
        Lamar University                      26
        Texas Southern University             10
Yes     Alaska Pacific University             15
        Brewton-Parker College                18
        Montreat-Anderson College             15

In [77]:
df61= df.filter(['private','Name','grad_rate'])
df62=df61.sort_values("grad_rate").groupby(df61.private).head(3)
df62.groupby(["private","Name"]).first()

                                       grad_rate
private Name
No      Fayetteville State University         24
        Lamar University                      26
        Texas Southern University             10
Yes     Alaska Pacific University             15
        Brewton-Parker College                18
        Montreat-Anderson College             15